@tailwind base;
@tailwind components;
@tailwind utilities;

.gutter {
    background-color: #226;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

#htmlCode ::-webkit-scrollbar {
    width: 5px;
}

#htmlCode::-webkit-scrollbar-track {
    @apply bg-[#226];
}

#htmlCode ::-webkit-scrollbar-thumb {
    @apply bg-blue-200 rounded-xl;
}

